.profile {
    display: flex;
    align-items: center;
    margin-top: 40px;
  }

  @media screen and (max-width: 900px) {
    .profile {
      max-width: 500px;
      margin: 42px auto 36px;
      flex-direction: column;
    }
  }

  @media screen and (max-width: 320px) {
    .profile {
      max-width: 282px;
      min-height: 56px;
    }
  }