@import url(../vendor/normalize.css);
@import url(../vendor/fonts/inter.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/content/content.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__about/profile__about.css);
@import url(../blocks/profile/__edit-btn/profile__edit-btn.css);
@import url(../blocks/profile/__add-btn/profile__add-btn.css);
@import url(../blocks/gallery/gallery.css);
@import url(../blocks/gallery/__element/gallery__element.css);
@import url(../blocks/gallery/__caption/gallery__caption.css);
@import url(../blocks/gallery/__title/gallery__title.css);
@import url(../blocks/gallery/__like-btn/gallery__like-btn.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);

.popup {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup_opened {
  display: flex;
}

.popup__container {
  position: relative;
  max-width: 358px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  z-index: 1;
  padding: 34px 36px 37px;
  margin: 30px 19px;
}

@media screen and (max-width: 500px) {
  .popup__container {
    padding: 25px 22px;
  }
}

.popup__close-btn {
  position: absolute;
  padding: 0;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  background-image: url(../images/close_icon.svg);
  background-size: 32px;
  background-position: center;
  background-color: black;
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

.popup__close-btn:hover {
  opacity: 0.5;
  transition: 0.5s;
}
@media screen and (max-width: 500px) {
  .popup__close-btn {
    top: -36px;
    right: 0;
    width: 20px;
    height: 20px;
    background-size: 20px;
  }
}
.form__title {
  height: 23px;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 0;
  margin-bottom: 54px;
}

@media screen and (max-width: 390px) {
  .form__title {
    height: 22px;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 75px;
  }
}

.form__submit-btn {
  max-width: 358px;
  height: 50px;
  margin-top: 48px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000000;
  border-radius: 2px;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  transition: 0.5s all;
}

.form__submit-btn:hover {
  opacity: 0.8;
  transition: 0.5s;
}

@media screen and (max-width: 500px) {
  .form__submit-btn {
    height: 46px;
    margin-top: 45px;
    font-size: 14px;
    line-height: 17px;
  }
}
.form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form__field {
  position: relative;
  max-width: 358px;
  min-height: 27px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border-style: none;
  border-bottom: 1px solid #000000;
  box-sizing: border-box;
  color: #000000;
}

/* {
    border: 1px red solid;
}*/
